$main-color: #0078d4;
$sub-color: #0793FF;
$sub-color2: #209CFC;
$sub-color-dark: #00589B;
$sub-color-dark2: #00457A;
$white-color: #ffffff;

$text-title: #0078d4;
$text-title-secondary: #6c757d;
$text-global: #323130;
$text-white: #FFFFFF;
$text-green: #28a745;
$text-red: #ff0033;
$text-orange: #ffc107;