$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 120, 150, 200, 250, 300); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right, all);

@each $space in $spaceamounts {
  @each $side in $sides {

    @if $side=='all' {
      .m-#{$space} {
        margin: #{$space}px !important;
      }

      .p-#{$space} {
        padding: #{$space}px !important;
      }
    }

    @else {
      .m-#{str-slice($side, 0, 1)}-#{$space} {
        margin-#{$side}: #{$space}px !important;
      }

      .p-#{str-slice($side, 0, 1)}-#{$space} {
        padding-#{$side}: #{$space}px !important;
      }
    }
  }
}

.full-with {
  width: 100%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

$inputspace: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100,120, 150, 200, 250, 300, 350, 400, 450, 500, 550);

@each $space in $inputspace {
  .input-mx-w-#{$space} {
    max-width: #{$space}px !important;
    flex: none !important;
  }
}

@each $space in $inputspace {
  .input-mn-w-#{$space} {
    min-width: #{$space}px !important;
    flex: none !important;
  }
}

@each $space in $inputspace {
  .input-w-#{$space} {
    width: #{$space}px !important;
    flex: none !important;
  }
}

@media (max-width:500px) {
  .block-sm { 
    width: 100%; 
    display: block !important; 
  }
}   