.dropdown-menu {
    left: -36px;
}

.dropdown-toggle {
    color: #ffffff;
}

.navbar {
    -webkit-box-shadow: 0 0px 11px 1px #999;
    -moz-box-shadow: 0 0px 11px 1px #999;
    box-shadow: 0 0px 11px 1px #999;
    background: #0078d4 !important;
}