.age {
    width: 75px !important;
}

.firstname {
    max-width: 275px !important;
}

.lastname {
    max-width: 275px !important;
}

.default-input {
    max-width: 275px !important;
}

.text-muted {
    color: red !important;
}